



body {
	background-color: black;
	margin: auto;
	width: 80%;
	padding: 0px;
	font-family: "Delicious Handrawn";
	color: #2E475D;
}

h1 {
	border: 20px;
	padding: 0px;
	letter-spacing: 5px;
	text-transform: uppercase;
	text-align: center;
	font-size: 60px;
	color: white;
}
h2 {
	border: 20px;
	padding: 0px;
	letter-spacing: 20px;
	text-transform: uppercase;
	text-align: center;
	font-size: 80px;
	color: red;
}
h3 {
	border: 20px;
	padding: 0px;
	letter-spacing: 10px;
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	color: white;
}
h4 {
	border: 20px;
	padding: 0px;
	letter-spacing: 5px;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	color: white;
	margin-left: auto;
	margin-right: auto;
}

dolly {
	font-size: 20px;
	font-weight: bold;
	color: red;
	font-family: "Delicious Handrawn";
}
dolly:hover {
	font-size: 30px;
	color: gray;

}

p {
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	color: red;
	font-size: 20px
}
p2 {
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	color: darkred;
	font-size: 10px
}
p3 {
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	color: darkred;
	font-size: 5px;
}
	
input
{
	text-align: center;
}

div {
	max-width: 100%;
	margin: auto;
	
}

img{
	max-width:100%;
	max-height:100%;
}
.door {
	max-width: 40%;
	position: absolute;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	right:29%;
}

.door .open {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99;
}

.door:hover .open {
	display: inline;
}

.tea {
	max-width: 40%;
	position: absolute;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	right: 29%;
}
.cat {
	max-width: 40%;
	position: relative;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	left: 30%;
}
a:link {
	color: lightskyblue;
	background-color: transparent;
	text-decoration: underline;

}

a:visited {
	color: darkslategrey;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: red;
	font-weight: bold;
	background-color: transparent;
	text-decoration: none;
}
.image-preview-__{
	display: none;
	width: 100%

}